<%= render "shared/navbar" %>
<div class="container">
<div class="row justify-content-center">
  <h2>Instruments</h2>
    <div class= "cards-index ">
      <% @instruments.each do |instrument| %>
        <div class="card-instrument">
        <%= cl_image_tag instrument.photo.key %>
        <div class="card-instrument-infos">
          <div>
            <h2><%= link_to instrument.name, instrument_path(instrument) %></h2>
            <p><%= instrument.category %></p>
          </div>
          <div class="card-instrument-pricing">
            <h2><%= instrument.price_per_day %>€</h2>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= link_to "Add new Instrument", new_instrument_path, class: "button-green" %>
  </div>
  </div>
</div>
<%= render "shared/footer" %>

