<h1> <%= @instrument.name %></h1>

<%= cl_image_tag @instrument.photo.key %>

<h5>Category:</h5>
<p> <%= @instrument.category %></p>

<h5>Details:</h5>
<p> <%= @instrument.description%> </p>

<h5>Price per day:</h5>
<p> <%= @instrument.price_per_day %></p>


<h2> <%= link_to "Book now" %></h2>
<h2> <%= link_to "Go Back", instruments_path %></h2>
