<%= render "shared/navbar" %>
<div class="container">
  <div class="main-container">
    <div class="instrument-show">
      <%= cl_image_tag @instrument.photo.key %>
      <h1> <%= @instrument.name %></h1>
      <h5> <%= @instrument.category %></h5>
      <h2>Some details:</h2>
      <p> <%= @instrument.description%> </p>
      <h2>for only <strong> <%= @instrument.price_per_day %> €</strong>/day!</h2>
    </div> 
    <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
  </div>
<div class="calender">
  <%= simple_form_for ([@instrument, @booking]) do |f| %>
    <%= f.input :start_date , as: :date %>
    <%= f.input :end_date, as: :date %>
    <%= f.submit "Make booking", class: "button-green" %>
    <%= link_to "Go Back", instruments_path, class: "button-white" %>
    <% end %>
    </div>
</div>



<%= render "shared/footer" %>

