<h1> <%= @instrument.name %></h1>

  <% if @instrument.photo.attached? %>
    <%= cl_image_tag @instrument.photo.key %>
  <% end %>

<h5>Category:</h5>
<p> <%= @instrument.category %></p>

<h5>Details:</h5>
<p> <%= @instrument.description%> </p>

<h5>Price per day:</h5>
<p> <%= @instrument.price_per_day %></p>

<h2> <%= link_to "Go Back", instruments_path %></h2>

<% if @instrument.user != current_user %>
  <%= simple_form_for ([@instrument, @booking]) do |f| %>
  <%= f.input :start_date , as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit "Make booking", class: "btn btn-primary" %>
  <% end %>
<% end %>

<%= render "shared/footer" %>

